@font-face {
    font-family: 'sdnr';
    src: url("../font/sdnr_b.otf") format('opentype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'sdnr';
    src: url("../font/sdnr_m.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

*:focus {
    outline: none;
}

body{
    background: linear-gradient(#6EAEF4, #AFECFB) fixed;
    font-family: 'sdnr', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.app{
    margin: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: calc(100vw - 10vh);
    min-height: calc(100vh - 10vh);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.formInput{
    flex: 1;
}

.vertical{
    flex-direction: column;
}

.row{
    flex-direction: row;
}
.color-white{
    background-color: white;

}

.shadow-small{
    box-shadow: 0 4px 0 #DB8532;
    border: 1px solid #DB8532;
}
.shadow-big{
    box-shadow: 0 7px 0 #DB8532;
    border: 1px solid #DB8532
}

.push:hover{
    box-shadow: 0 1px 0 #DB8532;
    position: relative;
    top: 3px;
}

.color-white{
    background-color: white;
}
.color-light{
    background-color: #FFF8E4;

}
.color-dark{
    background-color: #ff9a3b;
    color: white;
}

.color-red{
    background-color: #ff3b3b;
    color: white;
}

.color-grey{
    background-color: #333333;
    color: white;
}

.margin-big{
    margin: 5vh;
}

margin-middle{
    margin: 3vh;
}

.margin-tiny{
    margin: 0.5vh;
}

.padding-big{
    padding: 2vh;
}
.margin-small{
    margin: 1vh;

}


.padding-small{
    padding: 1.5vh;
}
.box{
    border-radius: 2vh;
    font-family: 'sdnr', sans-serif;
}

.padding-tiny{
    padding: 1vh;
}

.flex{
    display: flex;
}

.listItem{
    width: 30vw;
    text-align: center;
    cursor: pointer;
}

.center{
    justify-content: center;
    align-items: center;
}
a {
    text-decoration-line: none;
}

input[type=radio]{
	width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}
input[type=radio] + label{
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    cursor: pointer;
}
input[type=radio]:checked + label{
    background-color: #ff3b3b;
    color: white;
}

.title{
    width: 40vh;
}

.balloon {
    position:relative;
    margin: 50px;
    width:400px;
    height:100px;
    background:#333333;
    border-radius: 10px;
}

.arrow_box {
	position: relative;
	background: #ffffff;
    border: 1px solid #ff9a3b;
    max-width: 30vmin;
    transition: all .2s ease-in-out;

}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 1vmin;
	margin-top: -1vmin;
}
.arrow_box:before {
	border-color: rgba(255, 154, 59, 0);
	border-right-color: #ff9a3b;
	border-width: 1.2vmin;
    margin-top: -0.7vmin;
}

.titleImg{
    width: 15vmin;
}