{% extends 'core/base.html'%}

{% block title %} SSTI {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    {% if failed is not None %}
        {% if not failed %}
            <h2>Successfully Injected and Executed Script!!!</h2>
            <h3>here is your flag > {{ flag }}</h3>
        {% else %}
            <h2>Failed to execute script...</h2>
            <h3>FAILED BY: {{ failed|safe }}</h3>
        {% endif %}
    {% endif %}
    {% url 'ssti' as action_url %}
    {% include "core/attack_form.html" with form=form action=action_url%}

    
{% endblock %}