{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block body %}
    <img class="title margin-small" src="{% static 'img/title.png' %}">
    <div class="box color-light shadow-big margin-big padding-big vertical">
        <div class="margin-small">
            {% if form.errors %}
                로그인에 실패했다구리...
            {% else %}
                로그인
            {% endif %}
        </div>

        <form class="row" action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <input class="box margin-small padding-small color-white shadow-small push" type="text" name="username" placeholder="Team Name">
            <input class="box margin-small padding-small color-white shadow-small push" type="password" name="password" placeholder="Password">
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}">
            <button class="box margin-small padding-small color-dark shadow-small push" type="submit">Login</button>

        </form>
    </div>
    <a class="listItem box color-dark shadow-big padding-small push" href="{% url 'register' %}">새로운 팀 등록하기</a>
{% endblock %}