{% extends 'core/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block head %}
    <script>
        document.forms[0].reset();
    </script>
{% endblock %}

{% block body %}
    <img class="title margin-small" src="{% static 'img/title.png' %}">
    <div class="box color-light shadow-big margin-big padding-big vertical">
        <div class="margin-small">
            {% if form.errors %}
                회원가입에 실패했다구리...
            {% else %}
                회원가입
            {% endif %}
        </div>
        <form class="vertical" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="box margin-small padding-small color-white shadow-small push listItem" type="text" name="username" placeholder="Team Name"
                   value="{{ form.username.data|default_if_none:'' }}">
            <input class="box margin-small padding-small color-white shadow-small push listItem" type="password" name="password" placeholder="Password">
            <input class="box margin-small padding-small color-white shadow-small push listItem" type="password" name="confirm" placeholder="Confirm Password">

            <input class="box margin-small padding-small color-white shadow-small push listItem" type="text" name="email" placeholder="Email"
                   value="{{ form.email.data|default_if_none:'' }}">

            <button class="box margin-small padding-small color-dark shadow-small push" type="submit">Register</button>
        </form>
    </div>


{% endblock %}