{% extends 'core/base.html'%}
{% load static %}
{% block title %} XSS {% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="flex center">
    <img class="titleImg" style="width: 13vmin;" src="{% static 'img/jackson.png' %}">
    <div class="box margin-big padding-big color-white shadow-big arrow_box">
        {% if failed is not None %}
            {% if not failed %}
                오 성공했냐옹?! <br>
                플래그 드릴게옹! {{ flag }}
            {% else %}
                스크립트를 실행하는데 실패했다옹...
                자세한건 아래를 봐주냐옹!
                {{ failed|safe }}
            {% endif %}
        {% else %}
            XSS에 대해 들어봤냐옹?!
        {% endif %}
    </div>
</div>


    
    {% url 'xss' as action_url %}
    {% include "core/attack_form.html" with form=form action=action_url%}

{% endblock %}