{% extends 'core/base.html'%}

{% block title %} XSS {% endblock %}

{% block head %}
    <meta http-equiv="Content-Security-Policy"
        content="{% form.query %}">
{% endblock %}

{% block body %}
    <form action="{% url 'xss' %}" method="post">
        {% csrf_token %}
        <input type="text" name="query" placeholder="xss query" value="{{ form.query.data|default_if_none:'' }}">
        {% for choice in form.team.field.choices %}
            <li>
                <input type="radio" name="team" value="{{choice.0}}"
                        {% ifequal form.team.data choice.0 %}
                       checked="checked"
                        {% endifequal %}/>
                <label for="">{{choice.1}}</label>
            </li>
        {% endfor %}
        <button type="submit">query!</button>
    </form>
{% endblock %}