{% extends 'core/base.html'%}

{% block title %} SQL Injection {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
{% if is_valid is not None %}
{% if is_valid %}
{% if result is not None %}
<div>
    {{ result }}
</div>
{% else %}
<div>
    There was an error.
</div>
{% endif %}
{% else %}
<div>
    Query is not Valid! (because of filter of other team, team name in query, etc,...)
</div>
{% endif %}
{% endif %}

{% url 'sqli' as action_url %}
{% include "core/attack_form.html" with form=form action=action_url%}

{% endblock %}