{% extends 'core/base.html'%}
{% load static %}
{% block title %} SQL Injection {% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<div class="flex center">
    <img class="titleImg" src="{% static 'img/isabelle.png' %}">
    <div class="box margin-big padding-big color-white shadow-big arrow_box">
        {% if is_valid is not None %}
            {% if is_valid %}
                {% if size == 0 %}
                    이런... 쿼리 결과가 아무 것도 없네요...
                {% else %}
                    {% if result is not None %}
                        결과가 있어요!
                    {% else %}
                        에러가 있었어요ㅠ
                    {% endif %}
                {% endif %}
            {% else %}
                엥? 그건 올바르지 않은 쿼리잖아요! <br>
                {{ result }}<br>
            {% endif %}
        {% else %}
            SQL Injection을 해보자구요!
        {% endif %}
    </div>
</div>




    {% url 'sqli' as action_url %}
    {% include "core/attack_form.html" with form=form action=action_url%}

    {% endblock %}