<div class="box color-light shadow-big margin-big padding-big vertical">
    <form action="{{ action }}" method="post">
        {% csrf_token %}
        <div class="flex vertical">
            <input class="formInput box margin-small padding-small color-white shadow-small push" type="text"
                name="query" placeholder="공격할 쿼리를 입력해라구리..." value="{{ form.query.data|default_if_none:'' }}">
            <div class="flex row margin-small" style="align-items: center; justify-content: space-between;">
                <div class="box color-light shadow-small padding-tiny flex row" style="align-items: stretch; /* align items in Cross Axis */
                align-content: stretch; ">
                    <div class="flex center" style="margin-left: 1vw; margin-right: 1vw">
                        공격할 팀 선택
                    </div>
                    
                    {% for choice in form.team.field.choices %}
                    <div class="flex radio">
                        <input id="{{choice.0}}" type="radio" name="team" value="{{choice.0}}" {% ifequal form.team.data choice.0 %}
                            checked="checked" {% endifequal %} />
                        <label class="box color-white push margin-small padding-tiny shadow-small" for="{{choice.0}}">{{choice.1}}</label>
                    </div>

                    {% endfor %}
                </div>
                <button class="box color-dark shadow-small push" style="padding:3.3vh; margin-left: 1.5vw;"
                    type="submit">query!</button>
            </div>
        </div>
    </form>
</div>