{% extends 'core/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <img class="title margin-big" src="{% static 'img/title.png' %}">
    <div class="box flex center color-light shadow-big margin-small padding-big vertical">
        <div class="padding-big center" style="font-size: 3vh;">DashBoard</div>
        {% for teamname, score in score_info %}
            <div class="box flex vertical center color-light shadow-small center margin-small padding-small" style="justify-content: space-between">
                <div class="flex row center" style="width: 100%; justify-content: space-between; margin-bottom: 2vh;">
                    <div style="margin-left: 1vw;">{{ teamname }}</div>
                    <div class="box flex row color-red shadow-small center padding-tiny" style="min-width: 5vw;">{{ score }}점</div>
                </div>

                <div class="flex vertical center listItem color-white padding-small box shadow-small" style="justify-content: space-between">
                    <div style="margin-left: 1vw;">최근 공격</div>
                </div>

            </div>
        {% endfor %}
    </div>


{% endblock %}