{% extends 'core/base.html' %}
{% load static %}
{% block title %}Item{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<form class="box flex vertical color-light padding-big shadow-big" action="{% url "item" item.id %}" method="POST">
{%  csrf_token %}
    <div class="box flex margin-small padding-big color-dark shadow-small center" style="font-size: 3vh; min-width: 50vw; justify-content: space-between">
        <div style="margin-left: 2vw;">
            {{ item.name }}
        </div>
        <div class="box flex row margin-small" style="color: black; font-size: 2vmin;">
            <div class="box flex padding-tiny shadow-small color-white margin-tiny push">{{ item.category }}</div>
            <div class="box flex padding-tiny shadow-small color-white margin-tiny push">{{ item.price }}벨</div>
        </div>
    </div>


    <div class="box flex center padding-big" style="justify-content: center; max-width: fit-content; margin-top: 3vh; margin-bottom: 3vh">{{ item.description }}</div>
    <div class="flex row" style="justify-content: flex-end; width: 100%;">
        {% if already_buyed %}
            <div class="box flex margin-small padding-big color-grey shadow-small">이미 구매한 상품이다구리</div>
        {% else %}
            <button class="box flex margin-small padding-big color-red shadow-small push"  type="submit">구매하구리</button>
        {% endif %}
    </div>

</form>
{% endblock %}